@media (max-width: 1400px) {
  .home-center::after {
    left: 200px;
  }
  .home-center::before {
    right: 196px;
  }
}

@media (max-width: 1366px) {
  .header__innerMenu {
    margin-bottom: 100px;
  }
  .home__title {
    font-size: 85px;
    line-height: 110px;
  }
  .home-center::after {
    top: -182px;
  }
  .home__box-center::before {
    top: -182px;
  }
  .home__box-right {
    top: -10%;
  }
  .home__box-left {
    top: 11%;
    left: -7%;
  }
  .header__button {
    margin: 30px 20px 30px;
  }
  .team__box,
  .specialties__box {
    margin-right: 0;
  }
}

@media (max-width: 1320px) {
  .contact__input {
    width: 350px;
    height: 50px;
  }
  .contact__input-messege {
    width: 1075px;
    height: 100px;
  }
  .contact__button {
    width: 434px;
  }
}

@media (max-width: 1300px) {
  .home__logo::before {
    width: 520px;
  }
  .home__logo::after {
    width: 380px;
    right: 152px;
  }
}

@media (max-width: 1260px) {
  .home__logo::before {
    width: 320px;
    right: -322px;
  }
  .home__logo::after {
    width: 320px;
  }
  .book__input {
    width: 230px;
    height: 50px;
  }
  .book__button {
    width: 515px;
    height: 50px;
    line-height: 50px;
  }
  .menu__box-title--content {
    font-size: 16px;
    line-height: 18px;
  }
  .menu__position-box {
    margin-bottom: 40px;
  }
  .menu__position-list {
    width: 110px;
    height: 40px;
  }
  .menu__position-link {
    line-height: 40px;
  }
  .menu__box {
    margin: 0 auto 40px;
  }
}

@media (max-width: 1250px) {
  .menu__list-link {
    margin: 30px;
  }

  .private__gallery {
    margin: 0 auto 70px;
  }
  .box-title {
    font-size: 34px;
    line-height: 38px;
  }
  .box-title--2 {
    font-size: 16px;
    line-height: 25px;
  }
  .about__box-text,
  .team__box-text,
  .specialties__box-text {
    font-size: 16px;
    line-height: 25px;
  }
  .private__gallery {
    height: 640px;
  }
}

@media (max-width: 1180px) {
  .home__title {
    font-size: 70px;
    line-height: 95px;
  }
  .header__left-text {
    font-size: 10px;
  }
  .team__images {
    margin-right: 60px;
  }
  .about__box {
    margin-right: 60px;
    max-width: 540px;
  }
  .team__box,
  .specialties__box {
    max-width: 540px;
  }
  .book__button {
    width: 300px;
  }
  .specialties__images {
    margin: 0 50px 0;
  }
  .menu__content-box {
    width: 335px;
    margin-bottom: 14px;
  }
  .menu__box-title--content {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1129px) {
  .private__gallery {
    height: 580px;
  }
  .contact__input {
    width: 280px;
  }
  .contact__input-messege {
    width: 860px;
  }
  .contact__button {
    width: 218px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 1080px) {
  .book__input {
    width: 170px;
    height: 45px;
  }
  .specialties__images {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 1050px) {
  .header__box-left {
    top: 9%;
    left: -11%;
  }
  .header__box-center::before {
    right: 140px;
    top: -194px;
  }
  .header__box-center::after {
    left: 144px;
    top: -194px;
  }
  .header__box-right {
    right: 4%;
  }
  .menu__list-link {
    margin: 25px;
  }
  .header__innerMenu {
    margin-bottom: 150px;
  }
  .header__logo-img {
    width: 135px;
    height: 135px;
  }
  .header__button {
    width: 170px;
    height: 50px;
    line-height: 50px;
  }
  .header__innerMenu {
    margin-bottom: 120px;
  }
  .home__logo::before {
    display: none;
  }
  .home__logo::after {
    display: none;
  }
  .about__box,
  .specialties__box {
    max-width: 510px;
  }
  .team__box {
    max-width: 510px;
  }

  .box-title {
    font-size: 30px;
    line-height: 34px;
  }
  .box-title--2 {
    font-size: 14px;
    line-height: 22px;
  }
  .about__box-text,
  .team__box-text,
  .specialties__box-text {
    font-size: 14px;
    line-height: 22px;
  }
  .private__gallery {
    height: 560px;
  }
}

@media (max-width: 990px) {
  .menu__content-box {
    width: 293px;
    margin-bottom: 12px;
  }
}

@media (max-width: 970px) {
  .about__box,
  .specialties__box {
    max-width: 470px;
  }
  .team__box {
    max-width: 470px;
  }
  .about__box {
    margin-right: 50px;
  }
  .team__images {
    margin-right: 50px;
  }
  .private__gallery {
    height: 500px;
  }
}

@media (max-width: 950px) {
  .header__innerMenu {
    display: none;
  }
  .header__innerMenu {
    display: block;
    text-align: center;
  }
  .header__logo {
    padding-top: 15px;
  }
  .home__logo::before {
    display: none;
  }
  .home__logo::after {
    display: none;
  }
  .header__box-center::before {
    right: 100px;
    top: -303px;
  }
  .header__box-center::after {
    left: 104px;
    top: -303px;
  }

  .header__innerMenu {
    position: relative;
  }
  .menu__btn {
    width: 40px;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    padding-right: 5px;
    span {
      display: block;
      height: 3px;
      margin-bottom: 10px;
      background-color: #e8c300;
    }
  }
  .save-box {
    display: none;
    text-align: center;
  }
  .menu__list-link {
    margin: 15px 35px 0 15px;
  }

  .home__box-right {
    right: 1%;
  }
  .home__box-left {
    left: -15%;
  }
  .home__title {
    font-size: 65px;
    line-height: 85px;
  }
  .header__innerMenu {
    margin-bottom: 90px;
  }
  .home__logo-img {
    width: 120px;
    height: 120px;
  }
  .home__button {
    width: 155px;
    height: 45px;
    line-height: 45px;
  }
  .home__button-down--img {
    width: 60px;
  }
  .home__media-img {
    width: 77%;
  }
}

@media (max-width: 920px) {
  .menu__content {
    display: block;
  }
  .menu__content-box {
    margin: 0 auto 10px;
  }
  .menu__content-box {
    width: 400px;
    text-align: center;
  }
  .contact__input {
    width: 215px;
    height: 40px;
  }
  .contact__input-messege {
    width: 670px;
    height: 70px;
  }
  .contact__email {
    margin-right: 20px;
  }
  .contact__content {
    font-size: 10px;
    line-height: 12px;
  }
  .contact__button {
    width: 142px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .private__gallery {
    height: 500px;
  }
}

@media (max-width: 860px) {
  .about__inner,
  .team__inner,
  .book__inner,
  .private__inner,
  .specialties__inner-slik {
    display: block;
    text-align: center;
  }
  .content-images {
    width: 70%;
    margin: 0 0 30px 0;
  }
  .team__images-img {
    margin: 0 118px 30px 0;
  }
  .team__images {
    margin-right: 0;
  }
  .about__box {
    max-width: 640px;
    margin: 0 auto 30px;
  }
  .team__box {
    margin: 0 auto;
  }
  .team__box {
    max-width: 640px;
  }
  .book__box {
    max-width: 670px;
    margin: 0 auto 30px;
  }
  .specialties__inner-slik {
    text-align: center;
    margin-bottom: 50px;
  }
  .specialties__images-img {
    width: 80%;
    margin: 0 0 30px -60px;
  }
  .book__images-img {
    margin: 0 0 0 80px;
  }
  .specialties__images {
    margin: 0 auto;
  }
  .specialties__box {
    max-width: 640px;
    margin: 0 auto;
  }
  .private__gallery {
    height: 450px;
  }
}

@media (max-width: 790px) {
  .home__title {
    font-size: 50px;
    line-height: 75px;
  }
  .header__button {
    margin: 25px 15px 25px;
  }
  .home__button {
    width: 120px;
    height: 35px;
    line-height: 35px;
  }
  .home__box-left {
    left: -19%;
  }
  .private__gallery {
    height: 430px;
  }
}

@media (max-width: 730px) {
  .private__gallery {
    height: 400px;
  }
  .private__gallery-box:nth-child(6) {
    display: none;
  }
  .private__gallery-box:nth-child(7) {
    display: none;
  }
  .private__gallery-box:nth-child(8) {
    display: none;
  }
  .private__gallery-box:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .contact__input-inner {
    text-align: center;
    display: block;
  }
  .contact__input {
    width: 470px;
  }
}

@media (max-width: 690px) {
  .private__gallery {
    height: 350px;
  }
  .contact__button {
    width: 402px;
  }
}

@media (max-width: 665px) {
  .home__box-center::after {
    display: none;
  }
  .home__box-center::before {
    display: none;
  }
  .home__box-left {
    display: none;
  }
  .home__box-right {
    right: 5px;
    top: -5%;
  }
  .header__innerMenu {
    margin-bottom: 75px;
  }
  .menu__list-link {
    margin: 15px 18px 0 15px;
  }
  .home__media-img {
    width: 60%;
    margin-bottom: 0;
  }
  .content-images {
    margin: 0 0 30px 0;
  }
  .team__images-img {
    margin: 0 85px 30px 0;
  }
  .home {
    margin-bottom: 50px;
  }
  .about,
  .team,
  .specialties,
  .contact {
    margin-bottom: 50px;
  }
  .team__inner,
  .private__inner {
    padding-bottom: 50px;
  }
  .content-images {
    width: 80%;
  }
  .specialties__images-img {
    margin: 0 0 30px -60px;
  }
  .specialties__time {
    font-size: 10px;
  }
  .private__bottom {
    display: none;
  }
}

@media (max-width: 650px) {
  .private__gallery {
    height: 600px;
  }
  .private__gallery-box:nth-child(1) {
    grid-column: span 4;
  }

  .private__gallery-box:nth-child(5) {
    grid-column: span 4;
  }
  .private__gallery-box:nth-child(2) {
    grid-column: span 4;
  }
  .private__gallery-box:nth-child(4) {
    grid-column: span 4;
  }
}

@media (max-width: 610px) {
  .private__gallery {
    height: 550px;
  }
}
@media (max-width: 510px) {
  .private__gallery {
    height: 550px;
  }
  .contact__input {
    width: 340px;
  }
  .contact__button {
    width: 350px;
  }
}

@media (max-width: 490px) {
  .private__gallery {
    height: 500px;
  }
}

@media (max-width: 485px) {
  .home__logo {
    padding-top: 185px;
  }
  .home__logo-img {
    width: 100px;
    height: 100px;
  }
  .home__title {
    font-size: 40px;
    line-height: 70px;
  }
  .header__innerMenu {
    margin-bottom: 145px;
  }
  .menu__btn {
    top: 50px;
  }
  .home-right {
    top: -56%;
    right: 41%;
  }
  .home {
    margin-bottom: 40px;
  }
  .about,
  .team,
  .specialties,
  .contact {
    margin-bottom: 40px;
  }
  .content-images {
    margin: 0 0 30px 0;
  }
  .team__images-img {
    margin: 0 60px 30px 0;
  }
  .specialties__images-img {
    margin: 0 0 30px -60px;
  }
  .home__box-right {
    right: 41%;
    top: -85%;
  }
  .menu__content-box {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .specialties__time {
    display: none;
  }
}

@media (max-width: 410px) {
  .private__gallery {
    height: 600px;
  }
  .private__gallery-box:nth-child(1) {
    grid-column: span 4;
  }
  .private__gallery-box:nth-child(5) {
    grid-column: span 4;
  }
  .private__gallery-box:nth-child(2) {
    grid-column: span 4;
  }
  .private__gallery-box:nth-child(3) {
    grid-column: span 8;
  }
  .private__gallery-box:nth-child(4) {
    grid-column: span 4;
  }
}

@media (max-width: 376px) {
  .book__button {
    width: 175px;
    height: 35px;
    line-height: 35px;
  }

  .book__input {
    width: 170px;
    height: 35px;
  }
  .book__select::after {
    right: 12px;
    top: 35%;
  }
  .contact__input {
    width: 240px;
  }
  .contact__button {
    width: 250px;
  }
}

@media (max-width: 370px) {
  .home__title {
    font-size: 32px;
    line-height: 60px;
  }
  .menu__list-link {
    margin: 10px 10px 0 10px;
  }
  .content-images {
    margin: 0 0 20px 45px;
  }
  .team__images-img {
    margin: 0 45px 30px 0;
  }
  .specialties__images-img {
    margin: 0 0 30px -45px;
  }
  .menu__position-link {
    font-size: 11px;
  }
}

@media (max-width: 330px) {
  .private__gallery-box:nth-child(1) {
    display: none;
  }
  .private__gallery-box:nth-child(5) {
    display: none;
  }
  .private__gallery-box:nth-child(2) {
    grid-column: span 8;
  }
  .private__gallery-box:nth-child(4) {
    grid-column: span 8;
  }
}

@media (max-width: 305px) {
  .home__title {
    font-size: 30px;
    line-height: 50px;
  }
  .home__button {
    width: 100px;
  }
  .menu__list-link {
    margin: 10px 7px 0 7px;
  }
  .home__box-right {
    top: -60%;
  }
  .menu__btn {
    right: 15px;
  }
  .menu__position-link {
    font-size: 9px;
    padding: 0 5px;
  }
  .menu__content-box {
    width: 278px;
  }
  .menu__box-title--content {
    font-size: 12px;
    line-height: 14px;
  }
  .menu__box-text {
    font-size: 10px;
  }
}

@media (min-width: 950px) {
  .menu__list {
    display: flex !important;
  }
}
