.home__top {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__logo {
  display: inline-block;
  text-align: center;
  padding-top: 25px;
  border: none;
  position: relative;
  animation: header-animation-logo 2s;
  &::before {
    content: "";
    position: absolute;
    width: 530px;
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    right: -520px;
    top: 50%;
    transform: translateY(9px);
  }
  &::after {
    content: "";
    position: absolute;
    width: 530px;
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    right: 110px;
    top: 50%;
    transform: translateY(9px);
  }
}

.home__logo-img {
  width: 150px;
  height: 150px;
}

.home__inner {
  text-align: center;
}

.home__inner-center {
  position: relative;
}

.home__box-left {
  width: 380px;
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  top: 33%;
  left: -5%;
}

.home__left-text {
  font-size: 12px;
  line-height: 12px;
}

.home__box-center {
  margin: 0 auto;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 750px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    right: 270px;
    top: -182px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 750px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    top: -182px;
    left: 274px;
  }
}

.home__suptitle {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
}

.home__title {
  margin: 70px 0 0 0;
  text-align: center;
  font-family: "Banny-bold";
  font-size: 96px;
  line-height: 132px;
}

.home__box-right {
  position: absolute;
  right: 5%;
  top: 10%;
}

.home__media-img {
  width: 100%;
}
.home__media-facebook,
.home__media-twitter,
.home__media-instagram {
  display: block;
}

.home__media-img {
  line-height: 0;
  margin-bottom: 20px;
  &:hover {
    background-color: #e8c300;
    border-radius: 50%;
    transform: scale(1.2);
  }
}

button {
  background-color: inherit;
}

.home__buttons {
  text-align: center;
}

.home__button {
  width: 200px;
  height: 60px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  line-height: 60px;
  margin: 30px 20px 90px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
  @media (hover: hover) {
    &:hover {
      background-color: #e8c300;
    }
  }
  &:active {
    background-color: rgb(69, 195, 69);
  }
  .home__buttonLink {
    padding: 22px 58px;
  }
}

.home__buttons-down {
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  animation: header-animation-scrol 2s;
}

.home__button-down--img {
  width: 70px;
}

.team,
.specialties,
.contact {
  margin-bottom: 100px;
}

.team__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__top {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team__inner {
  padding-bottom: 90px;
}

.line-bottom {
  border-bottom: 5px solid #e8c300;
  width: 60px;
  border-radius: 50px;
  margin: 0 auto 15px;
}

.specialties__box {
  max-width: 600px;
  padding: 10px;
}

.team__box-text,
.specialties__box-text {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-align: center;
}

.content-images {
  width: 100%;
}

.team__text-top,
.specialties__text-top {
  padding-top: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  margin-bottom: 40px;
  text-align: center;
}

.team__box {
  max-width: 600px;
  padding: 10px;
}

.team__images {
  margin: 0 80px 0 0;
}

.team__box-title,
.team__box-title--2,
.team__box-text,
.specialties__box-title,
.specialties__box-title--2,
.specialties__box-text {
  color: #fff;
}

.specialties__top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.specialties__inner-slik {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.specialties__images {
  max-width: 600px;
  margin: 0 80px 0;
}

.specialties__time {
  text-align: center;
  margin-bottom: 50px;
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
}

.contact__box {
  max-width: 565px;
  margin: 0 auto 50px;
}

.contact__input-inner {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact__input {
  appearance: none;
  width: 419px;
  height: 60px;
  border: none;
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  padding: 0 15px;
  background-color: #e5e5e5;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
  &::placeholder {
    color: rgba(51, 51, 51, 0.5);
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 19px;
    text-indent: 20px;
  }
}

.contact__input-messege {
  width: 1280px;
  height: 120px;
}

.contact__content {
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  line-height: 14px;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact__button {
  width: 640px;
  height: 60px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #e8c300;
  text-align: center;
  line-height: 60px;
  color: #fff;
}

.contact__location {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    background-image: url(/images/contact-location.svg);
  }
}
.contact__phone {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    background-image: url(/images/contact-phone.svg);
  }
}
.contact__email {
  margin-right: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    background-image: url(/images/contact-email.svg);
  }
}

#map {
  height: 475px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
}

.footer__text {
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 38px 0;
}

.footer__text-span {
  font-family: "OpenSans-Bold";
}

@keyframes header-animation-logo {
  0% {
    transform: translateY(-3000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes header-animation-scrol {
  0% {
    transform: translateY(-3000px);
  }
  100% {
    transform: translateY(0);
  }
}

@import "media";
