.menu__content {
  display: inline-flex;
  margin: 0 50px 50px 50px;
}

.menu__contentBox {
  width: 365px;
  padding: 0 10px;
  margin-bottom: 20px;
  border: 2px solid #e8c300;
  border-radius: 40px;
  .menu__boxTitleContent {
    font-family: "Banny-light";
    font-size: 18px;
    line-height: 20px;
  }
  .menu__boxText {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px 0 10px;
    max-height: 48px;
    text-align: justify;
    overflow: hidden;
    transition: all 0.25s ease-in;
  }

  .menu__boxTextOpen {
    transition: all 0.25s ease-in;
    max-height: 250px;
  }

  .menu__boxTextButton {
    display: block;
    padding: 0 0 10px 10px;
    cursor: pointer;
    color: #b7a02d;
    font-size: 14px;
    background-color: inherit;
    border: none;
    width: 100px;
    text-align: justify;
    @media (hover: hover) {
      &:hover {
        color: #e8c300;
      }
    }
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  h4 {
    padding: 5px;
  }
}

.boxTitle {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 10px;
}

.boxTitle2 {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1130px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 950px) {
  .menu__content {
    margin: 0 20px 20px 20px;
  }
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 350px;
    }
  }
}

@media (max-width: 835px) {
  .menu {
    height: 100%;
    .menuImgBox {
      margin-top: 10px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 520px) {
  .menu {
    .menu__images {
      width: 300px;
      margin: 15px;
    }
  }
  .menu__contentBox {
    width: 300px;
  }
}
