.book__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  height: 100vh;
}

.book__box {
  max-width: 580px;
  margin-right: 73px;
  text-align: center;
  .book__boxTitle {
    margin: 20px auto;
  }
}

.book__inputInner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book__input {
  appearance: none;
  width: 278px;
  height: 60px;
  border: none;
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  padding: 0 15px;
  background-color: #e5e5e5;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  color: rgb(0, 0, 0);
  &::placeholder {
    color: rgb(0, 0, 0, 0.5);
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 19px;
    text-indent: 20px;
  }
}

.book__select {
  position: relative;
}

.book__button {
  width: 570px;
  height: 60px;
  margin: 0 5px;
  border-radius: 5px;
  border: 2px solid #e8c300;
  background-color: inherit;
  text-align: center;
  line-height: 60px;
  color: #fff;
  @media (hover: hover) {
    &:hover {
      background-color: #e8c300;
      cursor: pointer;
      color: #000;
    }
  }
}

.book__images {
  margin: 100px 0;
}

.thamks {
  text-align: center;
  height: 100vh;
  h2 {
    padding: 50px 0 20px 0;
  }
  img {
    width: 600px;
    height: 400px;
    border-radius: 50px;
    margin-bottom: 20px;
  }
  .thamksButton {
    width: 300px;
    height: 30px;
    background-color: #e8c300;
    cursor: pointer;
  }
}

@media (max-width: 1290px) {
  .book {
    text-align: center;
    .book__inner {
      display: block;
      justify-content: center;
      align-items: center;
    }
    .book__box {
      max-width: 580px;
      margin: 0 auto;
      text-align: center;
      .book__boxTitle {
        margin: 0 auto 20px;
        padding-top: 30px;
      }
    }
  }
}

@media (max-width: 690px) {
  .thamks {
    h2 {
      padding: 100px 0 20px 0;
    }
    img {
      width: 300px;
      height: 300px;
    }
    .book__button {
      width: 300px;
    }
  }
}

@media (max-width: 660px) {
  .book {
    height: 100%;
    .book__box {
      max-width: 380px;
    }
    .book__input {
      height: 40px;
    }
    .book__button {
      width: 278px;
      height: 40px;
      line-height: 0;
    }
    .book__images {
      margin: 0;
      padding: 65px 0;
      img {
        width: 300px;
      }
    }
  }
}
