.menu {
  background-color: rgb(71, 53, 34);
  text-align: center;
  height: 672px;
  p {
    padding: 0 10px;
  }
  h1 {
    padding: 10px 0;
    margin: 0;
  }
  .menu__images {
    max-width: 500px;
    margin: 20px;
    border-radius: 40px;
  }
}

@media (max-width: 1085px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 950px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 350px;
    }
  }
}

@media (max-width: 800px) {
  .menu {
    height: 100%;
    .menuImgBox {
      margin-top: 10px;
    }
    .menu__images {
      width: 320px;
    }
  }
}
