.menu {
  background-color: rgb(71, 53, 34);
  text-align: center;
  height: 100vh;
  padding-top: 100px;
  .menu__container {
    max-width: 1440px;
    margin: 0 auto;
  }
  p {
    padding: 0 10px;
  }
  h1 {
    padding: 10px 0;
    margin: 0;
  }
  .menu__images {
    max-width: 500px;
    margin: 30px;
    border-radius: 40px;
    transition: all 0.1s ease-in-out;
    &:active {
      scale: 1.08;
      border: 2px solid #ffdf3e;
      background: #1c1b1b;
      box-shadow: 10px 5px 5px 5px rgb(218, 245, 46);
    }
    @media (hover: hover) {
      &:hover {
        scale: 1.08;
        border: 2px solid #ffdf3e;
        background: #1c1b1b;
        box-shadow: 10px 5px 5px 5px rgb(218, 245, 46);
      }
    }
  }
}

@media (max-width: 1130px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 950px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 350px;
    }
  }
}

@media (max-width: 835px) {
  .menu {
    height: 100%;
    padding-top: 50px;
    .menuImgBox {
      margin-top: 10px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 520px) {
  .menu {
    padding-top: 30px;
    .menu__images {
      width: 300px;
      margin: 15px;
    }
  }
}
