.menu {
  background-color: rgb(71, 53, 34);
  text-align: center;
  height: 100%;
  color: #fff;
  .menu__title {
    margin: 0 auto 20px;
    padding-top: 30px;
  }
  .menu__container {
    max-width: 1440px;
    margin: 0 auto;
  }
  p {
    padding: 0 10px;
  }
  h1 {
    padding: 10px 0;
    margin: 0;
  }
  .menu__images {
    max-width: 500px;
    margin: 30px;
    border-radius: 40px;
    transition: all 0.1s ease-in-out;
    &:active {
      scale: 1.08;
      border: 2px solid #ffdf3e;
      background: #1c1b1b;
      box-shadow: 10px 5px 5px 5px rgb(218, 245, 46);
    }
    @media (hover: hover) {
      &:hover {
        scale: 1.08;
        border: 2px solid #ffdf3e;
        background: #1c1b1b;
        box-shadow: 10px 5px 5px 5px rgb(218, 245, 46);
      }
    }
  }
}

.menu__box {
  max-width: 565px;
  margin: 0 auto 20px;
}
.menu__position-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.menu__position-list {
  text-align: center;
  width: 120px;
  height: 50px;
  &:not(:last-child) {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
  }
}

.menu__position-link {
  display: block;

  height: 100%;
  font-size: 12px;
  line-height: 50px;
}

.menu__contentBox {
  width: 365px;
  padding: 0 10px;
  margin-bottom: 20px;
  border: 2px solid #e8c300;
  border-radius: 40px;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  h4 {
    padding: 5px;
  }
  p {
    padding: 5px;
  }
}

.search {
  position: relative;
  width: 340px;
  margin: 0 auto 30px auto;
  .searchInput {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 340px;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px 40px;
    transition: all 0.15s ease-in-out;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 600px) {
      width: 340px;
    }
  }
  .searchInputDont {
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;
    &:active {
      width: 340px;
    }
    &:focus {
      width: 340px;
    }
  }
  .search_icon {
    height: 22px;
    opacity: 0.3;
    position: absolute;
    width: 22px;
    top: 12px;
    left: 10px;
  }
  .clearIcon {
    width: 18px;
    opacity: 0.3;
    position: absolute;
    top: 12px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.menu__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 1;
}

.menu__boxTitleContent {
  font-family: "Banny-light";
  font-size: 18px;
  line-height: 20px;
}

.menu__boxText {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 18px;
}

.boxTitle {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 10px;
}

.boxTitle2 {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1290px) {
  .searchPosition {
    position: absolute;
    top: 23px;
    left: 40px;
    .search {
      width: 90px;
      .searchInput {
        width: 240px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 20px;
        border-radius: 10px;
        font-size: 16px;
        transition: all 0.15s ease-in-out;
        &:focus {
          width: 240px;
          padding: 12px 40px;
        }
      }
      .searchInputDont {
        width: 40px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 20px;
        border-radius: 50%;
        font-size: 16px;
        margin-right: 50px;
        transition: all 0.15s ease-in-out;
        &:focus {
          width: 240px;
          padding: 12px 40px;
          border-radius: 10px;
        }
      }
      .search_icon {
        left: 0;
        top: 6px;
        width: 40px;
        height: 30px;
        cursor: pointer;
      }
      .clearIcon {
        right: -140px;
      }
    }
  }
}

@media (max-width: 1130px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 950px) {
  .menu {
    .menuImgBox {
      margin-top: 40px;
    }
    .menu__images {
      width: 350px;
    }
  }
}

@media (max-width: 835px) {
  .menu {
    height: 100%;
    .menuImgBox {
      margin-top: 10px;
    }
    .menu__images {
      width: 400px;
    }
  }
}
@media (max-width: 520px) {
  .menu {
    .menu__images {
      width: 300px;
      margin: 15px;
    }
  }
  .menu__contentBox {
    width: 300px;
  }
  .searchPosition {
    .search {
      .searchInput {
        &:active {
          width: 240px;
        }
        &:focus {
          width: 240px;
        }
      }
    }
  }
}
